*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Nunito Sans,Arial, Helvetica, sans-serif;
}
.nav-bar  {
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.dark-mode{
    display: flex; 
    justify-content: center;
     align-items: center;
    gap: 0.5rem;
    
    
}
.dark-mode img {
    vertical-align:  middle;
}
main{
    padding: 2rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}
.container{
    width: 100%;
    max-width: 220px;
    height: 320px;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
}
.flag-image img{
    /* width: 100%; */
    max-width: 300px; 
    height: 150px;
}

.content{
    margin-top: 1rem;
    font-family:Nunito Sans,Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
.content h3{
    margin-bottom: 1rem;
}
.countory-detail{
    padding: 1rem;
    margin-bottom: 2rem;
}
 .label{
    margin-top: 3rem;
    
}
.SF{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-block: 2rem;
}